@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #222222;
  color: #ffffff
}

.content {
  margin: 15px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #cb0910;
  height: 35px;
}

.nav_btn {
  border: 0px;
  font-size: 18px;
  background-color: #cb0910;
  font-weight: bold;
  height: 100%;
  margin-right: 25px;
  padding: 0px 30px 0px;
}

.nav_btn:hover {
  background-color: #80080c;
  color: #ffffff
}

.title {
  font-size: 32px;
  margin: 40px 0px 40px;

}

.t_area {
  background-color: #2f2f2f;
  border-style: solid;
  border-width: 2px;
  border-color: #222222;
  border-left: 0;
  border-radius: 5px;
  padding: 5px 25px 5px;
  text-align: center;
}

.link_area {
  text-align: center;
}

.warning_text {
  border: 0;
  color: #571916;
  background-color: #f3453c;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

.warning_text:hover{
  color: #ffffff;
  background-color: #9c302a;
  cursor: pointer;
}


.select_link {
  border: 0;
  color: #192b1d;
  background-color: #79d18e;
  border-radius: 5px;
  font-size: 18px;

}

.select_link:hover {
  color: #ffffff;
  background-color: #49854f;
  cursor: pointer;
}

.checkout_button{
  background-color: #bbbbbbc7;
  color: #222222;
  margin-top: 35px;
  padding: 5px;
  font-size: 25px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.checkout_button:hover{
  background-color: #6b6b6bc7;
  color: #ffffff;
}