/* === Index ===*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 15px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #cb0910;
  height: 35px;
}

.nav_btn {
  border: 0px;
  font-size: 18px;
  background-color: #cb0910;
  font-weight: bold;
  height: 100%;
  margin-right: 25px;
  padding: 0px 30px 0px;
}

.nav_btn:hover {
  background-color: #80080c;
  color: #ffffff
}

.title {
  font-size: 32px;
  margin: 25px 0px 25px;
  font-weight: bold;
}

.t_area {
  background-color: #e0e0e0;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-left: 0;
  border-radius: 5px;
  padding: 5px 25px 5px;
  text-align: center;
}

.link_area {
  text-align: center;
}

.warning_text {
  border: 0;
  color: #571916;
  background-color: #f3453c;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

.warning_text:hover {
  color: #ffffff;
  background-color: #9c302a;
  cursor: pointer;
}

.select_link {
  border: 0;
  color: #192b1d;
  background-color: #79d18e;
  border-radius: 5px;
  font-size: 18px;

}

.select_link:hover {
  color: #ffffff;
  background-color: #49854f;
  cursor: pointer;
}

.checkout_button {
  background-color: #aaaaaa;
  color: #222222;
  margin-top: 35px;
  padding: 5px;
  font-size: 25px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.checkout_button:hover {
  background-color: #4e4e4ec7;
  color: #ffffff;
}


/* === show === */

.product {
  margin-bottom: 20px;
}

.select_button {
  color: #192b1d;
  background-color: #79d18e;
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.select_button:hover {
  color: #ffffff;
  background-color: #49854f;
}


/* === New === */

.form_area {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

.title_area {
  width: 200px;
}

label {
  width: 100px;
}

.form, textarea {
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: #222222;
  height: 30px;
}

textarea{
  height: 80px;
}


/* === Media === */

@media (max-width: 500px) {
    table {
      width: 100%;
    }

    .t_area {

      padding: 0px;
    }

    .link_area {
     text-align: left;
    }

    .select_link, .warning_text {
      display: inline-block;
      width: 100px;
      white-space: normal;
      font-size: 18px;
    }
}